[submodule "tarea_Mondrian"]
	path = tarea_Mondrian
	url = git@github.com:Diana-A88/tarea_Mondrian.git
[submodule "ejercicio_maquetacion"]
	path = ejercicio_maquetacion
	url = git@github.com:Diana-A88/ejercicio_maquetacion.git
